@import "../../../scss/main.scss";

header {
  width: 100%;
  height: 70px;
  background: var(--primary-black);
  color: white;
  @include kanit;
}
.header {
  display: grid;
  grid-template-columns: 65% 30% 1fr;
  height: 100%;
  align-items: center;
}
.header-title {
  background: var(--primary-black);
  height: 100%;
  display: flex;
  align-items: center;
  p {
    font-size: 25px;
    margin-left: 20px;
    @media (max-width: 1024px) {
      font-size: 23px;
    }
    @media (max-width: 768px) {
      font-size: 21px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
    @media (max-width: 430px) {
      font-size: 16px;
    }
    @media (max-width: 320px) {
      font-size: 13px;
    }
  }
}
.header-icons {
  background: var(--primary-grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    background: transparent;
  }
  .header-icons-align {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    @media (max-width: 1024px) {
      width: 150px;
    }
    @media (max-width: 768px) {
      width: 130px;
    }
    @media (max-width: 576px) {
      width: 105px;
    }
    .header-icons-item {
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        @media (max-width: 1024px) {
          width: 21px;
          height: 21px;
        }
        @media (max-width: 768px) {
          width: 18px;
          height: 18px;
        }
        @media (max-width: 576px) {
          width: 16px;
          height: 16px;
        }
        
      }
    }
  }
}
