@import "../../../scss/main.scss";

.hb {
  background: var(--primary-black);
  height: calc(100vh - 70px);
  @media (max-width: 576px) {
    max-height: 91vh;
  }
}

.hb-bg-grid {
  display: grid;
  grid-template-columns: 65% 30% 1fr;
  height: 100%;
  .hb-bg-black {
    background: var(--primary-black);
  }
  .hb-bg-grey {
    background: var(--primary-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      background: transparent;
    }
    .hb-bg-grey-img {
      transform: translateY(-45px);
      border: 2px solid rgba(128, 128, 128, 0.102);
      border-radius: 50%;
      padding: 20px;
      svg {
        width: 150px;
        height: 150px;
        fill: grey;
        opacity: 0.4;

        @media (max-width: 768px) {
          display: none;
          width: 135px;
          height: 135px;
        }
        @media (max-width: 576px) {
          width: 110px;
          height: 110px;
        }
        @media (max-width: 430px) {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

.hb-relative {
  position: relative;
  height: 100%;
}
.hb-data {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // background: rgba(255, 255, 255, 0.248);
  padding: 110px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 768px) {
    padding-block: 0;
    text-align: center;
  }
  .hb-data-align {
    @media (max-width: 576px) {
      margin-top: -70px;
    }
    h2 {
      font-size: 58px;
      line-height: 60px;
      word-spacing: 1px;
      letter-spacing: 1px;
      font-weight: 400;
      color: white;
      @include kanit;
      @media (max-width: 1024px) {
        font-size: 52px;
      }
      @media (max-width: 768px) {
        font-size: 42px;
        line-height: 52px;
      }
      @media (max-width: 576px) {
        font-size: 36px;
        line-height: 42px;
      }
      @media (max-width: 430px) {
        font-size: 25px;
        line-height: 32px;
      }
      @media (max-width: 320px) {
        font-size: 23px;
        line-height: 28px;
      }
      span {
        position: relative;
        &:before {
          content: "";
          height: 3px;
          width: 98%;
          margin: 0 auto;
          position: absolute;
          bottom: 8px;
          left: 10px;
          background: var(--primary-green);
          @media (max-width: 576px) {
            bottom: 2px;
          }
        }
      }
    }
    p {
      margin-top: 50px;
      max-width: 300px;
      font-size: 15px;
      color: grey;
      @include kanit;
      @media (max-width: 768px) {
        margin-inline: auto;
        line-height: 24px;
        font-size: 14px;
      }
      @media (max-width: 576px) {
        max-width: 250px;
        line-height: 20px;
        font-size: 13px;
      }
      @media (max-width: 430px) {
        font-size: 12px;
        margin-top: 35px;
      }
      @media (max-width: 430px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
    button {
      margin-top: 40px;
      padding: 6px 10px;
      background: var(--primary-black);
      color: white;
      border: none;
      font-size: 12px;
      word-spacing: 2px;
      letter-spacing: 2px;
      cursor: pointer;
      @include kanit;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      @media (max-width: 576px) {
        padding: 6px 8px;
        font-size: 11px;
      }
      &:before {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 8px;
        width: 85%;
        height: 2px;
        background: var(--primary-green);
      }
    }
  }
}