@import "../../../scss/main.scss";

.websites {
  margin-top: 100px;
  color: white;
  @media (max-width:768px) {
    padding-inline: 20px;
  }
}
.websites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.5px;
    @include kanit;
    @media (max-width: 1024px) {
      font-size: 42px;
    }
    @media (max-width: 768px) {
      font-size: 38px;
    }
    @media (max-width: 576px) {
      font-size: 35px;
      margin-bottom: 35px;
    }
  }
  button {
    height: 35px;
    padding: 6px 10px;
    background: var(--primary-black);
    color: white;
    border: none;
    font-size: 12px;
    word-spacing: 2px;
    letter-spacing: 2px;
    cursor: pointer;
    @include kanit;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    @media (max-width:576px) {
      font-size: 10px;
      padding: 6px ;
    }
    @media (max-width:430px) {
      display: none;
    }
    &:before {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 8px;
      width: 85%;
      height: 2px;
      background: var(--primary-green);
    }
  }
}

.websites-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2,1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1,1fr);
  }
}
.websites-item {
  cursor: pointer;
  .websites-item-img {
    width: 100%;
    height: 200px;
    border-radius: 9px;
    @media (max-width:576px) {
      height: 170px;
    }
  }
  .websites-item-data {
    h4 {
      font-size: 21px;
      @include kanit;
      margin-top: 16px;
    }
    ul {
      margin-top: 4px;
      list-style: none;
      li {
        color: grey;
        @include kanit;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        @media (max-width:768px) {
          font-size: 12px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
